In [1]:
import pandas as pd
import json

In [2]:
df = pd.DataFrame()

In [3]:
data = None
with open('data/shakespeare_acts_scenes.json') as f:
    data = json.load(f)

In [4]:
for play_name,play_content in data.items():
    for acts,scenes in play_content.items():
        for scene,lines in scenes.items():
            for line in lines:
                if len(line)>1:
                    df = df.append({'Play':play_name.title(), 'Act':acts.title(), 'Scene':scene.title(), 'Character':line[0].title(), 'Line':line[1]}, ignore_index=True)
                else:
                    df = df.append({'Play':play_name.title(), 'Act':acts.title(), 'Scene':scene.title(), 'Character':"", 'Line':line}, ignore_index=True)

In [5]:
df.head()

,Act,Character,Line,Play,Scene
0,Act I,Sampson,"Gregory, on my word, we’ll not carry coals.",Romeo,Scene I
1,Act I,Gregory,"No, for then we should be colliers.",Romeo,Scene I
2,Act I,Sampson,"I mean, if we be in choler, we’ll draw.",Romeo,Scene I
3,Act I,Gregory,"Ay, while you live, draw your neck out o’ the ...",Romeo,Scene I
4,Act I,Sampson,"I strike quickly, being moved.",Romeo,Scene I

In [7]:
df.shape

(5106, 5)

In [8]:
df.describe()

            Act Character   Line     Play    Scene
count      5106      5106   5106     5106     5106
unique        5       199   5002        6        8
top     Act Iii    Hamlet   and   Othello  Scene I
freq       1247       358     12     1180     1551